<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>En mi vida</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">En mi vida</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Importancia de la serie en mi vida</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Lucifer toma como base el personaje de Lucifer Morningstar de la mitología y la tradición religiosa. La serie explora temas teológicos y desafía las percepciones convencionales de lo divino y lo demoníaco. Esto puede resultar significativo para aquellos interesados en el estudio de la religión y la mitología, así como para aquellos que deseen explorar perspectivas alternativas.
    </ion-card-content>
  </ion-card>
</ion-content>
