<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Contratame</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Contratame</ion-title>
    </ion-toolbar>
  </ion-header>

  <div style="display: flex; justify-content: center;">
    <ion-list>
      <ion-item>
        <img src="assets/img/Me.jpg" alt="" height="380" width="300">
      </ion-item>
      <br>
      <ion-item>
        Paola Francesca Perez Ramirez
      </ion-item>
      <ion-item>
        20211924@itla.edu.do
      </ion-item>
    </ion-list>
  </div>

</ion-content>
