<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Acerca de</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Acerca de</ion-title>
    </ion-toolbar>
  </ion-header>

  <h1>Detalles de la serie</h1>
  <div style="display: flex; justify-content: center;">
    <ion-list>
      <ion-item>
        <img src="assets/img/Lucifer_Serie.jpg" alt="" height="380" width="300">
      </ion-item>
      <br>
      <ion-item>
        Cantidad de temporadas: 6
      </ion-item>
      <ion-item>
        Autores: Tom Kapinos, Alex Katsnelson, Ildy Modrovich, MÁS
      </ion-item>
      <ion-item>
        Primer episodio: 25 de enero de 2016 (Estados Unidos)
      </ion-item>
      <ion-item>
        Último episodio: 10 de septiembre de 2021
      </ion-item>
    </ion-list>
  </div>

</ion-content>
