<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Portada</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Portada</ion-title>
    </ion-toolbar>
  </ion-header>
  <h1 style="font-size: 30; ">Trailer</h1>
  <ion-content>
    <iframe width="956" height="538" src="https://www.youtube.com/embed/X4bF_quwNtw" title="Official Trailer | Season 1 | LUCIFER" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </ion-content>
</ion-content>
